In [43]:
import numpy as np
import pandas as pd

In [44]:
url = "https://archive.analytics.mybinder.org/index.jsonl"

In [45]:
!wget $url

--2022-04-09 15:03:48--  https://archive.analytics.mybinder.org/index.jsonl
Resolving archive.analytics.mybinder.org (archive.analytics.mybinder.org)... 35.239.125.45
Connecting to archive.analytics.mybinder.org (archive.analytics.mybinder.org)|35.239.125.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 95184 (93K) [application/octet-stream]
Saving to: ‘index.jsonl.1’

index.jsonl.1       100%[===================>]  92.95K   325KB/s    in 0.3s

2022-04-09 15:03:48 (325 KB/s) - ‘index.jsonl.1’ saved [95184/95184]

In [46]:
!head index.jsonl

{"name": "events-2018-11-03.jsonl", "date": "2018-11-03", "count": "7057"}
{"name": "events-2018-11-04.jsonl", "date": "2018-11-04", "count": "7489"}
{"name": "events-2018-11-05.jsonl", "date": "2018-11-05", "count": "13590"}
{"name": "events-2018-11-06.jsonl", "date": "2018-11-06", "count": "13920"}
{"name": "events-2018-11-07.jsonl", "date": "2018-11-07", "count": "12766"}
{"name": "events-2018-11-08.jsonl", "date": "2018-11-08", "count": "14105"}
{"name": "events-2018-11-09.jsonl", "date": "2018-11-09", "count": "11843"}
{"name": "events-2018-11-10.jsonl", "date": "2018-11-10", "count": "7047"}
{"name": "events-2018-11-11.jsonl", "date": "2018-11-11", "count": "6940"}
{"name": "events-2018-11-12.jsonl", "date": "2018-11-12", "count": "16322"}

In [114]:
import json

with open('index.jsonl', 'r') as json_file:
    json_list = list(json_file)

data = []
for json_str in json_list:
    result = json.loads(json_str)
    data.append(result)


df = pd.DataFrame(data[0:-1])   # ignore last day - not complete yet

df.index = pd.to_datetime(df['date'])
df.drop(["name", "date"], axis=1, inplace=True)
df['count'] = df['count'].astype(np.int64)

In [115]:
df.head()

            count
date
2018-11-03   7057
2018-11-04   7489
2018-11-05  13590
2018-11-06  13920
2018-11-07  12766

In [116]:
df.tail()

            count
date
2022-04-04  17585
2022-04-05  19472
2022-04-06  15604
2022-04-07  16752
2022-04-08  12760

In [117]:
# df.plot()

In [118]:
def report_stats(df):
    

    total_days = (df.index[-1] - df.index[0]).days
    
    x = (df.index - df.index[0]).days
    lin_reg = np.polyfit(x, df['count'], deg=1)
    print(f"{total_days=}")
    print(f"{lin_reg=}")

    total_sessions = df['count'].sum()
    print(f"{total_sessions=}")

    average_per_day = int(total_sessions / total_days)
    print(f"{average_per_day=}")

    average_per_week = int(average_per_day * 7)
    print(f"{average_per_week=}")

In [119]:
print(f"Since {df.index[0]}")

Since 2018-11-03 00:00:00

In [120]:
report_stats(df)

total_days=1252
lin_reg=array([   17.1954455 , 10581.30315377])
total_sessions=26746102
average_per_day=21362
average_per_week=149534

Restrict data to last year:

In [121]:
df_lastyear = df[-366:]
print(f"Since {df_lastyear.index[0]}")

Since 2021-04-08 00:00:00

In [122]:
report_stats(df_lastyear)

total_days=365
lin_reg=array([-3.26193749e+00,  2.95853828e+04])
total_sessions=10610369
average_per_day=29069
average_per_week=203483

In [131]:
# 2021:
df_2021 = df["2021-01":"2021-12"]
print(f"from {df_2021.index[0]} to {df_2021.index[-1]}")
report_stats(df_2021)

from 2021-01-01 00:00:00 to 2021-12-31 00:00:00
total_days=364
lin_reg=array([7.85616266e+00, 2.68518003e+04])
total_sessions=10322792
average_per_day=28359
average_per_week=198513

In [124]:
import datetime

In [125]:
datetime.datetime.now()

datetime.datetime(2022, 4, 9, 15, 21, 56, 429084)

21284